<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello Express</h1>
    <p>express framework 입니다. JS라고 생각하세요 </p>
    <h1>사용자정보</h1>
    <h2><%=name%></h2>
    <h2><%=age%></h2>
</body>
</html>